<%= form_for(@elevator_system) do |f| %>
  <% if @elevator_system.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@elevator_system.errors.count, "error") %> prohibited this elevator_system from being saved:</h2>

      <ul>
      <% @elevator_system.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
